<button type="button" class="button-transparent product-review a11y-link">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
</button>
<style>
.checked {
  color: black;
}
</style>
{% schema %}
{
  "name": "Five Stars",
  "class": "five-stars-section",
  "settings": [],
  "presets": [
    {
      "name": "Five Stars",
      "category": "PDP"
    }
  ]
}
{% endschema %}
