#MainContent {
  overflow-x: hidden;
}
body {
  position: relative
}
/* policy */
.shopify-policy__container {
  margin-top: 40px;
}
/* COLLECTION - GRIDWALL - PLP */

.facets-container {
  padding: 0 20px 12px;
}

.facets-vertical-sort {
  padding: 0 20px 12px 0;
}

@media screen and (max-width: 700px) {
  .product-grid-container .collection {
    padding: 0px;
  }
  .collection .card--standard>.card__content .card__information {
    padding-left: 8px;
  }
  .facets-container  .mobile-facets__wrapper .button-label {
    font-size: 1.4rem;
  }
}

/* CART */
.cart__footer {
  padding: 0 0 4rem !important;
}
/* ARTICLE - start */
.article-template img {
  padding-bottom: 1rem;
}
/* ARTICLE - end */
.product__title h1 {
  font-size: var(--desktop_product_title_size);
}
.product__description p, .product__property, .flwr_item_number {
  font-size: var(--desktop_pdp_desc_size);
}
.flwr_multicolumn_hero_button {
  padding: var(--hero_button_padding);
  border: 1px solid var(--button_border_color);
  color: var(--button_text_color);
  background: var(--button_background_color);
  border-radius: var(--button_border_radius);
  font-family: var(--hero_button_font_family);
  font-size: var(--hero_button_font_size);
  font-weight: var(--hero_button_font_weight);
  text-decoration: none;
}
.flwr_multicolumn_hero_button:hover {
  border: 1px solid var(--button_border_color_hover);
  color: var(--button_text_color_hover);
  background: var(--button_background_color_hover);
}
.flwr_multicolumn_hero_button.inverse {
  border: 1px solid var(--button_border_color_hover);
  color: var(--button_text_color_hover);
  background: var(--button_background_color_hover);
}
.flwr_multicolumn_hero_button.inverse:hover {
  border: 1px solid var(--button_text_color);
  color: var(--button_text_color);
  background: var(--button_background_color);
}


.header {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.header.page-width {
    max-width: 100%;
}

#shopify-section-header {
    position: fixed;
    /* position: relative; */
    width: 100%;
}

.content-for-layout {
  margin-top: 46px;
}


@media screen and (min-width: 990px) {
  .header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}


.card__heading.h5 {
   font-family: 'Alegreya Sans';
  font-weight: 400;
}

.section-flwr-custom-footer {
  background: #222;
  color: white;
}

#cart-icon-bubble {
    display: block;
    transform: translateY(3px);
}
.collage {
    opacity: 0;
    position: relative;
    bottom: -200px;
}
.collage.flwr_show {
    opacity: 1;
    bottom: 0px;
    transition: all 0.8s linear 0.4s;
}
.floating_phone {
    position: fixed;
    bottom: 10vH;
    right: 5vW;
    width: 60px;
    height: 60px;
    background-color: #fa6e12;
    border-radius: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 40px;
    line-height: 40px;
	transition: transform 1s ease-out;
}
.floating_phone:hover {
    transform: scale(1.25);
  	transition: transform 1s ease-out;
}
.search-modal__form .field {
	position: relative;
    overflow: hidden;
    border-radius: 10px;
    border-width: 8px;
}
.search-modal__form .field::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; /*Making the width double the size of the parent since we are going to be animation the transform: translateX() to the left. */
    height: 100%;
    background: linear-gradient(115deg, var(--custom-button-color-primary), var(--custom-button-color-secondary));
    background-size: 50% 100%;
    border-radius: inherit;
    animation: animate_border .75s linear infinite;
}
.search-modal__form .field:focus::before {
    transform: translateX(-50%);
}
.search-modal__form .field__input {
/*      margin: 10px !important; */
    border-radius: 10px !important;
}
.search-modal__form .field__input:focus {
    box-shadow: 0 0 0 0 rgba(var(--color-foreground));
}
.search-modal__form .field::after {
 	box-shadow: 0 0 0 0 black !important; 
}
@keyframes animate_border {
    to {
        transform: translateX(-50%)
    }
}

.quick-add {
  height: 0px; 
  width: 82%;
}
/* shop now button */
.quick-add__submit, .quick-add__submit.button:disabled {
  border-radius: 0px;
  background-color: #FA6D12;
  color: white;
  opacity: 0;
  font-size: 0.8em;
  height: 20px;
  margin: 0px 10% 0px 10%;
}
.quick-add__submit.button:after, .quick-add__submit.button:before {
 box-shadow: none; 
}
.quick-add__submit.show:not(.button:disabled) {
  opacity: 1;
  transform: translateY(calc(-100% - 10px));
/*   transition: transform 0.4s linear; */
  animation: moveup 0.4s linear;
}
.flwr__marquee { 
 animation: flwr__marquee 10s linear infinite;
  white-space: nowrap;
}
.flwr_footer_block_description a.footer_link_policy, .flwr_footer_block_description a.footer_link_policy:hover {
  color: white;
}
@keyframes moveup {
    0% {
      opacity: 0;
      transform: translateY(-40%);
    }  
  	50% {
      opacity: 0.8;
      transform: translateY(-80%);
    }
    100% {
      opacity: 1;
      transform: translateY(calc(-100% - 10px));
    }
}
@keyframes underline_animation_keyframe {
    0% {
      width: 0%;
    }  
  	50% {
      width: 50%;
    }
    100% {
      width: 100%;
    }
}
@keyframes flwr__marquee {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-60%);
  }
}
.design_badge {
  animation: infinite-spinning 1s infinite alternate;
}
.design_badge_two {
  animation: infinite-spinning_two 1.3s infinite alternate;
}
.design_badge_three {
  animation: infinite-spinning_three 0.8s infinite alternate;
  position: absolute;
  top: 70px;
  right: 20px;
  z-index: 6;
  width: 120px;
  height: 120px;
}
.flwr_hero_button {
  padding: 10px 20px;
  border: 1px solid #222;
  color: #222;
  background: #ffffff;
  border-radius: 0px;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-weight: 400;
}
.flwr_hero_button:hover {
  border: 1px solid #fff;
  color: #fff;
  background: #222;
}
.flwr_hero_button.inverse {
  border: 1px solid #fff;
  color: #fff;
  background: #222;  
}
.flwr_hero_button.inverse:hover {
  border: 1px solid #222;
  color: #222;
  background: #ffffff;
}
.shopify-installments {
  display: none !important; 
}
@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(20deg);
  }
}
@keyframes infinite-spinning_two {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(50deg);
  }
}
@keyframes infinite-spinning_three {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}
@media screen and (max-width: 750px) {
    .design_badge_three {
        display: none; 
    }
    .header.page-width {
        max-width: 100%;
    }
    .product__title h1 {
      font-size: var(--mobile_product_title_size);
      font-weight: 700;
    }
    .product__description p, .product__property, .flwr_item_number {
      font-size: var(--mobile_pdp_desc_size);
    }
}

/* featured row */

.feature-row,.turnpup-hero-flex-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center
}

@media screen and (max-width: 700px) {
  .feature-row,.turnpup-hero-flex-container {
      -ms-flex-direction:column;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column
  }
}

.feature-row__item {
  -ms-flex: 0 1 50%;
  -webkit-flex: 0 1 50%;
  -moz-flex: 0 1 50%;
  flex: 0 1 50%
}

@media screen and (max-width: 700px) {
  .feature-row__item {
      -ms-flex:1 1 auto;
      -webkit-flex: 1 1 auto;
      -moz-flex: 1 1 auto;
      flex: 1 1 auto;
      max-width: 100%
  }
}

.feature-row__image {
  display: block;
  margin: 0 auto
}

@media screen and (max-width: 700px) {
  .feature-row__image {
      order:1;
      width: 100%
  }
}

.feature-row__text {
  padding-top: .9375em;
  padding-bottom: .9375em
}

.feature-row__text h4,.feature-row__text .h4 {
  font-size: 1.44375em;
  text-transform: none;
  font-weight: 400
}

@media screen and (max-width: 700px) {
  .feature-row__text p {
      font-size:.92813em
  }
}

@media screen and (max-width: 700px) {
  .feature-row__text {
      order:2
  }
}

.feature-row__text--align__center {
  text-align: center
}

.feature-row__text--align__right {
  text-align: right
}

@media screen and (min-width: 700px) {
  .feature-row__text {
      padding-top:.9375em;
      padding-bottom: 0
  }

  .feature-row__text--left {
      padding-left: 1.875em
  }

  .feature-row__text--right {
      padding-right: 1.875em
  }
}
/* BUTTONS */
.hapny_button {
  color: black;
  text-align: center;
  margin: 20px 0;
  font-size: 16px;
  padding: 14px 18px;
  font-weight: 700;
  border-radius: 3px;
  border-color: #0000;
  border-width: 1px;
  background-color: white;
  text-decoration: none;
  display: inline-block;
  border: 1px solid black;
}

.product-form__submit.hapny_button {
  margin: 0 0 1rem;
}

.hapny_button a {
  color: black;
  text-decoration: none
}

.hapny_button:hover,.hapny_button:focus {
  color: #fff;
  border-color: white;
  background-color: black
}

/* PDP */
.product__info-wrapper .product__info-container>*+* {
  margin: 1.3rem 0;
}
.product__info-wrapper .product__info-container .product__tax {
  margin: 0;
}
.product__info-wrapper .product__info-container .timer {
  margin: 0;
}
.product .product__info-wrapper .price .badge, .product .product__info-wrapper .price__container {
  margin: 0;
}

@media screen and (min-width: 750px) {
  .product__info-wrapper .product__info-container .price--on-sale .price-item--regular {
      font-size: 1.6rem;
  }  
  .grid__item {
    font-size: 1.3rem;
  }
}

/* thumbnails on PDP */
button.thumbnail {
  border: none;
}

/* teasing */
.title-wrapper-with-link {
  gap: 0 !important;
}


/* SEO FOOTERS - start */
#turnpup_truncate_text {
  position: relative;
  max-height: 50px;
  overflow: hidden;
}
#turnpup_all_text {
  display: none;
}
.read-more-button {
  font-size: 1rem;
  color: #888;
  text-decoration: underline;
  border: none;
  box-shadow: none;
  margin: 10px 0 0 0;
  padding: 0;
  background-color: unset;
}
/* SEO FOOTERS - end */