.product-recommendations {
  display: block;
}

.product-recommendations:not(.product-recommendations--loaded) {
  display: none;
}

.product-recommendations__heading {
  margin: 0;
  margin-bottom: 3rem;
  font-weight: 700;
}
